/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* ************ */
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* * * */
/* FONTES */
@font-face {
    font-family: 'OpenSans Regular';
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url(Font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url(Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(Font/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(Font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(Font/Roboto-Bold.ttf);
}


/* OPENSANS REGULAR, POPPINS BOLD, POPPINS REGULAR, ROBOTO REGULAR, ROBOTO BOLD */
/* ***************** */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

/* CONTATO */

.contato {
    background-color: #106EEA;
}

.contato .container  {
    justify-self: flex-start;
    height: 35px;
}


.contato .container a {
    font: 500 30px 'OpenSans Regular';
    color: white;
    margin-right: 40px;
}
/* HEADER */

.logo .nome {
    font: 700 40px 'Poppins Bold';
}

.menu a{
    font: 500 20px 'OpenSans Regular';
    color: black;
    margin-left: 60px;
}

/* INICIO */
.inicio {
    background-image: url(Img/Vitral.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.inicio .container{
    justify-content: flex-end;
    height: 400px;
}

.titulo-inicio{
    font: 700 50px 'Poppins Bold';
}
.texto-inicio{
    font: 500 25px 'Poppins Regular';
}
/* TITULO */
.titulo{
    font: 700 40px 'Roboto Bold';
    color: black;
}

span {
    color: #106EEA;
}

/* TEXTO */
 .texto{
    font: 500 20px 'OpenSans Regular';
 }

 /* SOBRE NÓS */
 .conteudo {
    text-align: center;
 }

 .sobreNos .imagem img{
    width: 500px;
 }

.sobreNos .conteudo .texto {
    text-align: justify;
}
.sobreNos .conteudo{
    margin-right: 100px;
}

/* INFOS  */
.infos .quadrados .quadrado img{
    width: 100px;
}

.infos .quadrados{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.quadrado{
    background-color: #f1f6fe;
    border: 10px solid #8CA9CE;
    border: 7px;
    text-align: center;
    padding: 15px 20px ;
    margin: 0 20px;
    width: 230px;
}

/* DIVISÃO */
.divisao{
    background-color: #1150A3;
    height: 2px;

}
 
/* SERVIÇOS  */
.servicos .container {
    flex-direction: column;
}

.servico{
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}
.servico .servico-titulo{
    font: 700 24px 'Roboto Bold';
text-align: center;


}
.servico .servico-nome{
    border: 2px solid #8CA9CE;
    width: 275px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

/* EQUIPE */
.equipe .container{
    flex-direction: column;

}
.equipe .pessoas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe .pessoas .pessoa {
    border: 1px solid black;
    border-radius: 10px ;
    margin:0 25px;

} 
.equipe .conteudo .texto {
    text-align: justify;
}

/* FORMULARIO */
.formulario .container{
    flex-direction: column;
    align-items: center;
    justify-self: center;

}
 .formulario .informacoes {
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .endereco {
    width: 300px;
    border:3px solid #1150A3;
    padding: 80px  20px;
    border-radius: 10px;
    margin-right: 20px;
 }
 input{
    height: 60px;
    background-color: gainsboro;
    margin-bottom: 15px;
    border: 7px;
    padding: 5px 8px ;

 } 
 textarea{
     background-color: gainsboro;
    margin-bottom: 15px;
    border: 7px;
    padding: 5px 8px ;
    
 }
 .form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
 }

 button{
    background-color: #106EEA;
    color:white;
    font: 700 20px "Roboto Bold";
    width: 300 px ;
    border-radius:15px ;
    padding: 10px 15px;
 }

 main section,main .conteudo , .divisao{
    margin-bottom:  80px;
 }
